<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description or site.description }}">
<title>{{ title }} | {{ site.title }}</title>
<script type="module" src="/js/theme-init.js"></script>
<link rel="stylesheet" href="/css/styles.css">
