<form class="theme-picker" data-theme-picker hidden>
    <fieldset>
        <legend>Theme</legend>
        <label><input type="radio" name="theme" value="system" checked> System</label>
        <label><input type="radio" name="theme" value="light"> Light</label>
        <label><input type="radio" name="theme" value="dark"> Dark</label>
    </fieldset>
</form>
